@tailwind base;
@tailwind components;
@tailwind utilities;

.Bg-1-M {
  background-image: url('./assets/Mobile/Bg1_M.png');
}

.Bg-1-I {
  background-image: url('./assets/Ipad/Bg1_T.png');
}

.Bg-1-D {
  background-image: url('./assets/Desktop/Bg1_D.png');
}

/* You can add custom global CSS here later if needed */
body {
  margin: 0;
  padding: 0;
}